<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespcae原来指命名空间 -->
<!-- 现在namespace指要映射给哪个接口 -->
<mapper namespace="dao.CompletionDao">
	
	
	<resultMap type="entity.Completion" id="completion1">
	<id property="completionId" column="CompletionId"/>
	<result property="content" column="Content"/>
	<result property="answer" column="Answer"/>
	<association property="subject" javaType="entity.Subject">
		<id property="subjectId" column="SubjectId"/>
		<result property="subjectName" column="SubjectName"/>
	</association>
	</resultMap>
	
	<select id="query" resultMap="completion1" parameterType="entity.Completion">
		select * from completion a, subject b
		<where>
			<if test="1==1">
				and a.SubjectId=b.SubjectId
			</if>
			<if test="content!=null and content!=''">
				and a.content like '%${content}%'
			</if>
			<if test="subject.subjectId!=0 and subject.subjectId!=null">
				and b.subjectId = #{subject.subjectId}
			</if>
		</where>
	</select>

	<select id="queryAll" resultType="entity.Completion">
		select * from completion 
	</select>

	<insert id="insert" parameterType="entity.Completion">
		insert into
		completion(SubjectId,Content,Answer)
		values(#{subject.subjectId},#{content},#{answer})
	</insert>

	<update id="update" parameterType="entity.Completion">
		update completion set
		Content=#{content},Answer=#{answer}
		where CompletionId=#{completionId}
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from completion where CompletionId=#{completionId}
	</delete>

	<select id="queryById" parameterType="java.lang.Integer"
		resultType="entity.Completion">
		select * from completion where CompletionId=#{completionId}
	</select>
	
	<select id="queryBySubjectId" parameterType="java.lang.Integer"
		resultType="entity.Completion">
		select * from completion where SubjectId=#{subject.subjectId}
	</select>

</mapper>