<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<!-- option是mysql的关键字，不要使用！！！！ -->
<!-- 已修改 -->
<mapper namespace="dao.OptionzDao">


	<select id="queryAll" resultType="entity.Optionz">
		select * from optionz 
	</select>

	<insert id="insert" parameterType="entity.Optionz">
		insert into
		Optionz(Content,ChoiceId,IsRight)
		values(#{content},#{choice.choiceId},#{isRight})
	</insert>

	<update id="update" parameterType="entity.Optionz">
		update optionz set
		Content=#{content},ChoidId=#{choice.choiceId},IsRight=#{isRight}
		where OptionzID=#{optionzId}
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from optionz where OptionzId=#{optionzId}
	</delete>

	<select id="queryById" parameterType="java.lang.Integer"
		resultType="entity.Optionz">
		select * from optionz where OptionzId=#{optionzId}
	</select>
	
	<select id="queryByChoiceId" parameterType="java.lang.Integer"
		resultType="entity.Optionz">
		select * from optionz where ChoiceId=#{choice.choiceId}
	</select>

</mapper>