<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespcae原来指命名空间 -->
<!-- 现在namespace指要映射给哪个接口 -->
<mapper namespace="dao.ScoreDao">


	<select id="queryAll" resultType="entity.Score">
		select * from score
	</select>

	<insert id="insert" parameterType="entity.Score">
		insert into
		score(UserId,SubjectId,Score)
		values(#{user.userId},#{subject.subjectId},#{score})
	</insert>
	

	<resultMap type="entity.Score" id="scores1">
		<id property="scoreId" column="ScoreID" />
		<result property="score" column="Score" />
		<association property="user" javaType="entity.User">
			<id property="userId" column="UserID" />
			<result property="userName" column="UserName" />
		</association>
		<association property="subject" javaType="entity.Subject">
			<id property="subjectId" column="SubjectId"/>
			<result property="subjectName" column="SubjectName"/>
		</association>
	</resultMap>
	
	<select id="query" resultMap="scores1" parameterType="entity.ScoreQueryDto">
		SELECT *
		FROM score a,user b,subject c 
		<where>
			<if test="1==1">
				and a.UserId=b.UserId and a.SubjectId=c.SubjectId
			</if>
			<if test="userName!=null and userName!=''">
				and b.userName like '%${userName}%'
			</if>
			<if test="subject.subjectId!=null and subject.subjectId!=0">
				and c.subjectId = #{subject.subjectId}
			</if>
			
		</where>
	
	</select>
	
	
	<select id="querystu" resultMap="scores1" parameterType="entity.ScoreQueryDto">
		SELECT *
		FROM score a,user b,subject c 
		<where>
			<if test="1==1">
				and a.UserId=b.UserId and a.SubjectId=c.SubjectId and b.userId=#{userId}
			</if>
			<if test="subject.subjectId!=null and subject.subjectId!=0">
				and c.subjectId = #{subject.subjectId}
			</if>
			
		</where>
	
	</select>
	
	
	<!-- 只能更新分数 -->
	<update id="update" parameterType="entity.Score">
		update score set
		Score=#{score} where ScoreId=#{scoreId}
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from score where ScoreId=#{scoreId}
	</delete>

	<select id="queryById" parameterType="java.lang.Integer"
		resultType="entity.Score">
		select * from score where ScoreId=#{scoreId}
	</select>

</mapper>