<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespcae原来指命名空间 -->
<!-- 现在namespace指要映射给哪个接口 -->
<mapper namespace="dao.SubjectDao">


	<select id="queryAll" resultType="entity.Subject">
		select * from subject 
	</select>

	<insert id="insert" parameterType="entity.Subject">
		insert into
		subject(SubjectName)
		values(#{subjectName})
	</insert>

	<update id="update" parameterType="entity.Subject">
		update subject set
		SubjectName=#{subjectName}
		where SubjectId=#{subjectId}
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from subject where SubjectId=#{subjectId}
	</delete>

	<select id="queryById" parameterType="java.lang.Integer"
		resultType="entity.Subject">
		select * from subject where SubjectId=#{subjectId}
	</select>

	<!-- Mybatis默认采用ONGL解析参数，所以会自动采用对象树的形式取string.num值，引起报错。
	无论参数名，都要改成"_parameter"。 -->
	<select id="queryByName" parameterType="java.lang.String"
		resultType="entity.Subject">
		select * from subject 
		<where>
			<if test="_parameter!=null and _parameter !=''">
				and SubjectName like '%${_parameter}%'
			</if>
		</where>
	</select>

</mapper>